
fliplomacy/Library
fliplomacy/Temp
fliplomacy/.vs/fliplomacy/v16/.suo
fliplomacy/Logs/AssetImportWorker0-prev.log
fliplomacy/Logs/AssetImportWorker0.log
fliplomacy/Logs/AssetImportWorker1-prev.log
fliplomacy/Logs/AssetImportWorker1.log
fliplomacy/Logs/AssetImportWorker2-prev.log
fliplomacy/Logs/AssetImportWorker3-prev.log
fliplomacy/Logs/AssetImportWorker4-prev.log
fliplomacy/Logs/shadercompiler-AssetImportWorker0.log
fliplomacy/Logs/shadercompiler-UnityShaderCompiler.exe0.log
fliplomacy/UserSettings/Layouts/default-2021.dwlt
fliplomacy/Logs/AssetImportWorker2-prev.log
